*.pyc
*.c
*.so
build/
.ipynb_checkpoints/
*.o
previous_approaches/
pycombina.egg-info/
implementierung_jung/
gurobi.log
implementierung_seminar/
doc/build/*
dist/
callgrind.out*
massif.out*
.vscode/

